@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
/* line 5, ../sass/index.scss */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: url(../img/wood_pattern.png) #fafafa;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 5, ../sass/index.scss */
  body {
    background-image: url("../img/wood_pattern_@2X.png");
    background-size: 203px 317px;
  }
}

/* line 13, ../sass/index.scss */
.header {
  text-align: center;
}
/* line 16, ../sass/index.scss */
.header h1 {
  font-family: 'Dancing Script', cursive;
  line-height: 4rem;
}
/* line 20, ../sass/index.scss */
.header h1 span {
  display: block;
}
/* line 23, ../sass/index.scss */
.header h1 span:first-child {
  font-size: 2.5rem;
}
/* line 27, ../sass/index.scss */
.header h1 span:last-child {
  font-size: 4rem;
}
/* line 33, ../sass/index.scss */
.header h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* line 39, ../sass/index.scss */
.container {
  margin-top: 10px;
}

@media only screen and (min-width: 40.063em) {
  /* line 44, ../sass/index.scss */
  .container {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 50, ../sass/index.scss */
  .container {
    margin-top: 100px;
  }
}
/* line 112, slot-icons/*.png */
.slot-icons-sprite, .slot-icons-coffee-filter, .slot-icons-coffee-grounds, .slot-icons-coffee-maker, .slot-icons-espresso-beans, .slot-icons-espresso-machine, .slot-icons-espresso-tamper, .slot-icons-loose-tea, .slot-icons-tea-strainer, .slot-icons-teapot {
  background-image: url('../img/slot-icons-sb84732b4af.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-coffee-filter {
  background-position: 0 0;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-coffee-grounds {
  background-position: 0 -100px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-coffee-maker {
  background-position: 0 -200px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-espresso-beans {
  background-position: 0 -300px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-espresso-machine {
  background-position: 0 -400px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-espresso-tamper {
  background-position: 0 -500px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-loose-tea {
  background-position: 0 -600px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-tea-strainer {
  background-position: 0 -700px;
}

/* line 84, ../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.slot-icons-teapot {
  background-position: 0 -800px;
}

/* line 15, ../sass/machine.scss */
.machine-reels {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid #aeadab;
  box-sizing: content-box;
  -moz-transition: border 100ms linear;
  -o-transition: border 100ms linear;
  -webkit-transition: border 100ms linear;
  transition: border 100ms linear;
}
/* line 25, ../sass/machine.scss */
.machine-reels .machine-results {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  opacity: 0;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
/* line 38, ../sass/machine.scss */
.machine-winner .machine-reels .machine-results, .machine-not-winner .machine-reels .machine-results {
  opacity: 1;
}
/* line 42, ../sass/machine.scss */
.machine-winner .machine-reels .machine-results {
  background-color: rgba(118, 183, 0, 0.5);
}
/* line 46, ../sass/machine.scss */
.machine-not-winner .machine-reels .machine-results {
  background-color: rgba(183, 0, 30, 0.5);
}
/* line 50, ../sass/machine.scss */
.machine-reels .machine-results > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  visibility: hidden;
}
/* line 59, ../sass/machine.scss */
.machine-winner-0 .machine-reels .machine-results .machine-results-0, .machine-winner-1 .machine-reels .machine-results .machine-results-1, .machine-winner-2 .machine-reels .machine-results .machine-results-2, .machine-not-winner .machine-reels .machine-results .machine-results-not-winner {
  visibility: visible;
}
/* line 69, ../sass/machine.scss */
.machine-reels .machine-reel {
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #999490;
  border-top: none;
  border-bottom: none;
  box-sizing: content-box;
  width: 33.33333%;
}
/* line 81, ../sass/machine.scss */
.machine-reels .machine-reel:before, .machine-reels .machine-reel:after {
  position: absolute;
  content: "";
  z-index: 2;
  left: 0;
  width: 100%;
}
/* line 89, ../sass/machine.scss */
.machine-reels .machine-reel:before {
  top: 0;
  bottom: 66.66666%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(20%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.35) 20%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.35) 20%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.35) 20%, rgba(255, 255, 255, 0) 100%);
}
/* line 99, ../sass/machine.scss */
.machine-reels .machine-reel:after {
  top: 66.66666%;
  bottom: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.35) 80%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.35) 80%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.35) 80%, rgba(0, 0, 0, 0.5) 100%);
}
/* line 109, ../sass/machine.scss */
.machine-reels .machine-reel:nth-child(1) {
  left: 0;
}
/* line 113, ../sass/machine.scss */
.machine-reels .machine-reel:nth-child(2) {
  left: 33.33333%;
}
/* line 117, ../sass/machine.scss */
.machine-reels .machine-reel:nth-child(3) {
  left: 66.66666%;
}
/* line 121, ../sass/machine.scss */
.machine-reels .machine-reel li {
  height: 100px;
  text-align: center;
}
/* line 125, ../sass/machine.scss */
.machine-reels .machine-reel li span {
  display: inline-block;
  height: 300px;
  width: 100px;
}
/* line 132, ../sass/machine.scss */
.active .machine-reels .machine-reel ul {
  -moz-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-name: spin-reel-active;
  -webkit-animation-name: spin-reel-active;
  animation-name: spin-reel-active;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 140, ../sass/machine.scss */
.machine-reels .machine-reel ul.done-0,
.machine-reels .machine-reel ul.done-1,
.machine-reels .machine-reel ul.done-2 {
  -moz-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* line 149, ../sass/machine.scss */
.machine-reels .machine-reel ul.done-0 {
  -moz-animation-name: spin-reel-0;
  -webkit-animation-name: spin-reel-0;
  animation-name: spin-reel-0;
}
/* line 153, ../sass/machine.scss */
.machine-reels .machine-reel ul.done-1 {
  -moz-animation-name: spin-reel-1;
  -webkit-animation-name: spin-reel-1;
  animation-name: spin-reel-1;
}
/* line 157, ../sass/machine.scss */
.machine-reels .machine-reel ul.done-2 {
  -moz-animation-name: spin-reel-2;
  -webkit-animation-name: spin-reel-2;
  animation-name: spin-reel-2;
}

/* line 165, ../sass/machine.scss */
.slot-machine.machine-winner .machine-reels {
  border: 1px solid #76b700;
}
/* line 171, ../sass/machine.scss */
.slot-machine.machine-not-winner .machine-reels {
  border: 1px solid #b7001e;
}

/* line 177, ../sass/machine.scss */
.machine-play-button {
  width: 300px;
  background-color: #76b700;
  padding: 15px 0;
  margin: 10px 0;
  border: none;
  color: #fff;
  font-size: 1rem;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
/* line 189, ../sass/machine.scss */
.machine-play-button:hover {
  background-color: #689910;
}
/* line 193, ../sass/machine.scss */
.active .machine-play-button {
  background-color: #646464;
  color: #000;
}

@media only screen and (min-width: 40.063em) {
  /* line 200, ../sass/machine.scss */
  .machine-reels {
    width: 600px;
  }
  /* line 203, ../sass/machine.scss */
  .machine-reels .machine-results {
    font-size: 2.5rem;
  }

  /* line 208, ../sass/machine.scss */
  .machine-play-button {
    width: 600px;
    padding: 10px 0;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 216, ../sass/machine.scss */
  .machine-reels {
    width: 650px;
  }
  /* line 219, ../sass/machine.scss */
  .machine-reels .machine-results {
    font-size: 3rem;
  }

  /* line 224, ../sass/machine.scss */
  .machine-play-button {
    width: 100%;
    padding: 15px 0;
    font-size: 2rem;
  }
}
@-moz-keyframes spin-reel-active {
  0% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -moz-transform: translateY(-66.66667%);
    transform: translateY(-66.66667%);
  }
}
@-webkit-keyframes spin-reel-active {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-66.66667%);
    transform: translateY(-66.66667%);
  }
}
@keyframes spin-reel-active {
  0% {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -moz-transform: translateY(-66.66667%);
    -ms-transform: translateY(-66.66667%);
    -webkit-transform: translateY(-66.66667%);
    transform: translateY(-66.66667%);
  }
}
@-moz-keyframes spin-reel-0 {
  0% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-23%);
    transform: translateY(-23%);
  }
  100% {
    -moz-transform: translateY(-22.22222%);
    transform: translateY(-22.22222%);
  }
}
@-webkit-keyframes spin-reel-0 {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-23%);
    transform: translateY(-23%);
  }
  100% {
    -webkit-transform: translateY(-22.22222%);
    transform: translateY(-22.22222%);
  }
}
@keyframes spin-reel-0 {
  0% {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-23%);
    -ms-transform: translateY(-23%);
    -webkit-transform: translateY(-23%);
    transform: translateY(-23%);
  }
  100% {
    -moz-transform: translateY(-22.22222%);
    -ms-transform: translateY(-22.22222%);
    -webkit-transform: translateY(-22.22222%);
    transform: translateY(-22.22222%);
  }
}
@-moz-keyframes spin-reel-1 {
  0% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-34%);
    transform: translateY(-34%);
  }
  100% {
    -moz-transform: translateY(-33.33333%);
    transform: translateY(-33.33333%);
  }
}
@-webkit-keyframes spin-reel-1 {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-34%);
    transform: translateY(-34%);
  }
  100% {
    -webkit-transform: translateY(-33.33333%);
    transform: translateY(-33.33333%);
  }
}
@keyframes spin-reel-1 {
  0% {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-34%);
    -ms-transform: translateY(-34%);
    -webkit-transform: translateY(-34%);
    transform: translateY(-34%);
  }
  100% {
    -moz-transform: translateY(-33.33333%);
    -ms-transform: translateY(-33.33333%);
    -webkit-transform: translateY(-33.33333%);
    transform: translateY(-33.33333%);
  }
}
@-moz-keyframes spin-reel-2 {
  0% {
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-12%);
    transform: translateY(-12%);
  }
  100% {
    -moz-transform: translateY(-11.11111%);
    transform: translateY(-11.11111%);
  }
}
@-webkit-keyframes spin-reel-2 {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-12%);
    transform: translateY(-12%);
  }
  100% {
    -webkit-transform: translateY(-11.11111%);
    transform: translateY(-11.11111%);
  }
}
@keyframes spin-reel-2 {
  0% {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90% {
    -moz-transform: translateY(-12%);
    -ms-transform: translateY(-12%);
    -webkit-transform: translateY(-12%);
    transform: translateY(-12%);
  }
  100% {
    -moz-transform: translateY(-11.11111%);
    -ms-transform: translateY(-11.11111%);
    -webkit-transform: translateY(-11.11111%);
    transform: translateY(-11.11111%);
  }
}
